

div { border-radius: 25px;

    border: 10px solid lightgreen; 
    
    padding: 20px; 
    
    width: 150px; 
    
    height: 100px; 
    
    text-align:middle; 
    
    line-width:150px; 
    
    color:blue; 
    
    }